#Files and dir NOT tracked

code/slurm-*.out
rawdata/test_data/
rawdata/*.fastq.gz
rawdata/*.fastq
rawdata/*.txt
rawdata/md5.txt
rawdata/tested_md5.results
rawdata/raw.counts
rawdata/bowtie2.list
rawdata/*/

outputs/
slurms/
